html {
    overflow: hidden;
}

.pac-container.pac-logo {
    z-index: 99999;
}

.navbar-fixed {
    height: 0;
    position: fixed;
    top: 0;
}

.input-field input[type="search"] {
    margin-bottom: 0;
}

nav .input-field label i {
    color: #ffffff;
}

.switch label input[type=checkbox]:checked+.lever{
    background-color: #B6B6B6;
}

.switch label input[type=checkbox]:checked+.lever:after{
    background-color: #0077ff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 64px;
}

nav [class*="mdi-"] {
    margin-right: 5px !important;
}

.option-field {
    margin-bottom: 25px;
}

.option-field input.select-dropdown {
    padding: 0 15px !important;
}

.option-field .caret {
    right: 15px !important;
}

.option-field:last-child {
    margin-bottom: 0;
}

.option-input .card {
    margin: 0;
}

.option-input label {
    line-height: 1 !important;
    margin-bottom: 10px;
    display: block;
}

.option-input input {
    border: 0 none;
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    box-sizing: border-box;
    color: #000;
    height: 35px;
    margin: 0;
    padding: 0 45px 0 15px;
    width: 100%;
}

.option-input [class^="mdi-"] {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 35px;
    color: #000;
    height: auto;
    font-size: 1.7rem;
}

.modal {
    overflow: hidden;
    max-height: 80%;
}

.modal-title {
    padding: 0 40px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.modal-content {
    width: 100%;
    overflow: auto;
}

.modal-back-button {
    display: block;
    color: #b1b1b1;
    transition: color ease-out 0.3s;
    cursor: pointer;
    font-size: 25px;
}

.modal-back-button:before {
    content: '\2190';
}

.modal-back-button:hover {
    color: #393939;
}

.modal-close-button, .stop-info-view-close {
    position: absolute;
    right: 15px;
    color: #b1b1b1;
    transition: color ease-out 0.3s;
    cursor: pointer;
    font-size: 25px;
    z-index: 99;
    line-height: 1;
}

.modal-close-button {
    top: 10px;
}

.modal-close-button:before, .stop-info-view-close:before {
    content: '\00D7';
}

.modal-close-button:hover, .stop-info-view-close:hover {
    color: #393939;
}

.tabs {
    overflow: hidden;
}

.map-marker {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: 22px 22px;
    background-position: center;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    top: 15px;
}

.map-marker.stop {
    background-color: #258e7c;
    background-image: url('../images/stop_marker.png');
}

.marker-cluster {
    border: 7px solid;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.marker-cluster.small {
    border-color: #0085b7;
    background-color: #00a1de;
}

.marker-cluster.medium {
    border-color: #2e8200;
    background-color: #3aa400;
}

.marker-cluster.big {
    border-color: #b0000a;
    background-color: #d3000c;
}

.go-to-user {
    position: fixed;
    top: 80px;
    right: 20px;
}

.workplace {
    height: 100%;
    overflow: hidden;
}

#map-canvas {
    height: 100%;
}

#loader {
    background: #fff url('../images/loader.gif') no-repeat;
    background-position: center;
    background-size: 40px 40px;
    width: 56px;
    height: 56px;
    position: absolute;
    right: 20px;
    top: 155px;
    border-radius: 50%;
    z-index: 9999;
    display: none;
}

.schedule-list-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 80px 0 130px;
}

.schedule-list {
    list-style: none;
    text-align: center;
    overflow-y: auto;
    height: 100%;
    width: 80px;
    margin: 0;
}

.schedule-list li {
    display: block;
    border-bottom: 1px solid #ebebeb;
    padding: 6px 0;
    font-size: 12px;
    cursor: default;
    white-space: nowrap;
}

.schedule-list .transport-item {
    cursor: pointer;
}

.schedule-item-delay {
    display: block;
    margin-bottom: 5px;
}

.transport-item {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.transport-item:before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -3px;
}

.transport-item.bus:before {
    background-image: url("../images/icons/bus-icon.png");
}

.transport-item.trolley-bus:before {
    background-image: url("../images/icons/trolley-bus-icon.png");
}

.transport-item.tram:before {
    background-image: url("../images/icons/tram-icon.png");
}

.transport-item.metro:before {
    background-image: url("../images/icons/metro-icon.png");
}

.stop-info-block-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.stop-info-block {
    width: 100%;
    padding: 10px 85px 10px 20px;
    font-size: 0;
    position: relative;
}


#stop-info-view {
    display: none;
    height: 100%;
    width: 100%;
}

.stop-info-view-close {
    top: 5px;
}

#stop-info-view .modal-title {
    font-size: 21px;
}

.stop-info-block, .schedule-list {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.stop-info-schedule-button {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 30px;
    line-height: 1;
}

.stop-info-schedule-button div {
    display: table;
    height: 100%;
}

.stop-info-schedule-button span {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    padding: 0 35px;
}

.stop-info-title, .route-info-title, .route-info-stop {
    color: #9300ff;
    font-size: 21px;
}

.stop-routes-group {
    margin-top: 10px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

.stop-routes-group:last-child {
    margin-right: 0;
}

#stop-schedule .modal-title {
    text-align: center;
    margin: 20px 0;
}


#stop-schedule .modal-content {
    padding: 0;
}

.stop-schedule-tab {
    background: #fff;
}

.stop-schedule-tab td:first-child {
    width: 1%;
    padding: 0 10px;
    white-space: nowrap;
    text-align: center;
}

.stop-schedule-tab td:last-child {
    font-size: 0;
}

.stop-schedule-group {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1;
    padding: 5px 10px;
    background: #fff;
}

.stop-schedule-group:last-child {
    margin-right: 0;
}

.stop-schedule-group span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

#search-trigger {
    position: relative;
    z-index: 90;
}

#search-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    z-index: 99;
}


#search-form .input-field {
    position: relative;
}



/* Route info */
#route-info .modal-content {
    padding: 0;
}

#route-info .modal-title {
    text-align: center;
    margin: 20px 0;
}

.route-info-back-wrapper {
    position: absolute;
    top: 20px;
    left: 15px;
    text-align: center;
    font-size: 0;
    cursor: pointer;
}

.route-info-back-wrapper > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.route-info-back-transport {
    margin-left: 10px;
}

#route-info-schedule .modal-title {
    padding-left: 70px;
}

.route-info-direction {
    font-size: 14px;
    color: #949494;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    width: 100%;
}

#route-info-stops {
    background: #fff;
    padding: 20px;
}

.route-info-stop-item {
    display: inline-block;
    font-size: 13px;
    color: #3b3b3b;
    padding: 7px 12px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 8px;
    border: 1px solid #e8e8e8;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    transition: background ease-out 0.3s;
}

.route-info-stop-item:hover {
    background: #efefef;
}

.route-info-stop-item:first-child, .route-info-stop-item:last-child {
    color: #fff;
    border: 0;
}

.route-info-stop-item:first-child {
    background: #3b980a;
}

.route-info-stop-item:last-child {
    background: #c01e20;
    margin-bottom: 0;
}

.route-info-stop-item:last-child:after {
    content: '';
    margin-left: 0;
}

.route-info-stop-item:after {
    content: '\2192';
    position: absolute;
    left: 100%;
    top: 6px;
    margin-left: 10px;
}

#route-info-map {
    height: 250px;
}

.route-info-schedule-hour {
    padding: 10px 25px;
    font-weight: bold;
    font-size: 17px;
    width: 1%;
}

/* Search results */

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    color: #202020;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    z-index: 0;
    max-height: 221px;
    overflow: auto;
}


.search-result-item {
    padding: 10px 15px;
    border-bottom: 1px solid #e2e2e2;
    display: table;
    width: 100%;
    line-height: 1;
    cursor: pointer;
    transition: background ease-out 0.3s;
}

.search-result-item:hover {
    background: #f4f4f4;
}

.search-result-item > * {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    width: 1%;
}


.search-result-item > *:last-child {
    width: auto;
    padding-left: 15px;
}

.search-result-item:last-child {
    border-bottom: 0;
}

.search-result-item-type {
    color: #bebebe;
    display: block;
    margin-top: 5px;
    font-size: 13px;
}


.search-result-item-direction {
    color: #686868;
    display: block;
    margin-top: 5px;
    font-size: 13px;
}





/* ROUTE SEARCH */
#route-search {
    width: 80%;
    max-width: 1200px;
}

#route-search-map {
    height: 250px;
    width: 60%;
}

#route-search .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

#route-search .modal-content {
    background: #fff;
}

#route-search .input-field {
    margin: 0;
}

#route-search .row {
    margin-bottom: 15px;
}

#route-search input {
    height: 2rem;
    margin-bottom: 0;
    border-color: transparent transparent #e6e6e6;
}

#route-search button {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
}

#route-search [type="submit"] {
    margin-bottom: 15px;
    line-height: 27px;
}

#route-search [type="submit"] i {
    position: relative;
    top: 2px;
}

#route-search [type="submit"][disabled] i {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.route-search-tooltip {
    color: #757575;
    display: block;
    padding: 0 10px;
}

.route-search-content {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.route-search-content > * {
    display: table-cell;
    vertical-align: middle;
    height: 300px;
}

.route-search-stop, .route-search-action {
    display: table;
    width: 100%;
}

.route-search-stop > *, .route-search-action > * {
    display: table-cell;
    vertical-align: middle;
}

.route-search-stop > *:first-child, .route-search-action > *:first-child {
    width: 80px;
    padding: 0 20px;
    text-align: right;
}

.route-search-stop > *:last-child, .route-search-action > *:last-child {
    text-align: left;
}

.route-search-stop {
    font-size: 13px;
}

.route-search-stop-name {
    padding: 0 20px;
}

.route-search-stop-time {
    position: relative;
}

.route-search-stop-time:after {
    position: absolute;
    right: -9px;
    top: 0;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid #000;
    background: #fff;
}

.route-search-stop:last-child .route-search-stop-time:after {
    bottom: 0;
}

.route-search-actions-wrapper {
    text-align: center;
    overflow: auto;
    max-height: 300px;
}

#route-search-actions {
    position: relative;
    display: inline-block;
}

#route-search-actions * {
    line-height: 1;
}

#route-search-actions:before {
    content: '';
    position: absolute;
    left: 80px;
    top: 0;
    height: 100%;
    width: 3px;
    background: #000;
}

.route-search-action {
    font-size: 19px;
}

.route-search-action > * {
    padding: 15px 20px;
}

@media all and (max-width: 820px) {
    #route-search {
        width: 100%;
    }
}

@media all and (max-width: 600px) {
    body {
        padding-top: 56px;
    }


    .modal {
        max-height: 100%;
        height: 100%;
        width: 100% !important;
        top: 0 !important;
        z-index: 99999 !important;
    }

    #route-info-schedule .modal-title {
        padding-left: 100px;
    }

    .route-info-stop-item {
        width: 47%;
        margin-right: 6%;
    }

    .route-info-stop-item:nth-child(2n) {
        margin-right: 0;
    }

    .route-info-stop-item:nth-child(2n):after {
        content: '';
        margin-left: 0;
    }

    #route-search input {
        font-size: 12px;
    }

    .route-search-actions-wrapper {
        height: auto;
        margin-top: 20px;
    }

    .route-search-content {
        display: block;
    }

    .route-search-content > * {
        display: block;
        width: 100% !important;
    }

    .route-search-content > *:last-child {
        height: auto !important;
    }
}

@media all and (max-width: 490px) {
    .stop-info-title, .route-info-title, .route-info-stop, .modal-title {
        font-size: 17px !important;
    }

    .stop-routes-group {
        font-size: 12px;
    }

    .stop-info-schedule-button {
        font-size: 25px;
    }

    .schedule-list li {
        font-size: 10px;
    }

    .tabs .tab a {
        font-size: 13px;
    }

    .stop-schedule-group {
        font-size: 10px;
    }

    .stop-schedule-group span {
        font-size: 12px;
    }

    .schedule-list {
        width: 65px;
    }

    .search-result-item > * {
        font-size: 12px;
    }

    .search-result-item-type, .search-result-item-direction {
        font-size: 11px;
    }

    .route-info-stop-item {
        width: 100%;
        margin-right: 0;
    }

    .route-info-stop-item:after {
        content: '';
        margin-left: 0;
    }
}

@media all and (min-width: 600px) {
    .route-info-stop-item {
        width: 30%;
        margin-right: 5%;
    }

    .route-info-stop-item:nth-child(3n) {
        margin-right: 0;
    }

    .route-info-stop-item:nth-child(3n):after {
        content: '';
        margin-left: 0;
    }
}